{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=jost:200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://AgentDocxPullZone.b-cdn.net/static/styles/styles.css">
    <title>Document</title>
    {% tailwind_css %}
</head>

<body style="font-family: 'Jost', sans-serif;" class="min-h-screen w-full flex flex-col">
    {% include 'common/header.html' %}
    <main class="flex-1">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'common/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>