{% extends 'base/base.html' %}


{% block content %}
<section class="my-12">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <div class="space-y-5">

            <p class="text-gray-600 border rounded-full py-1 px-4 w-fit text-xs md:text-sm font-semibold">📁 ConsultancyDocs is the best option for you
            </p>
            <h1 class="text-3xl md:text-5xl font-bold text-darkGray">The Ultimate Solution to
                Manage
                Your Education & Migration Agency</h1>
            <p class="text-sm md:text-md">AgentDocx is your go-to platform to streamline operations, enhance client management,
                and boost productivity in the education and migration industry.</p>
        </div>
        <div>
            <img src="https://solid-tailwind.preview.uideck.com/images/hero-light.png" alt="">
        </div>
    </div>
</section>
{%include 'components/features.html'%}
{%include 'components/counter.html'%}
{%include 'components/testimonials.html'%}

{% endblock %}