{% load static %}
<header class="bg-transparent">
  <nav class="container mx-auto flex items-center justify-between py-3">
    <div class="flex items-center gap-10">
      <div>
        {%include 'common/logo.html'%}
      </div>
      <div class="flex items-center space-x-14">
        <span class="hover:text-blue-600 cursor-pointer font-medium text-darkGray">Home</span>
        <span class="hover:text-blue-600 cursor-pointer font-medium text-darkGray">Why ConsultancyDocs</span>
        <span class="hover:text-blue-600 cursor-pointer font-medium text-darkGray">FAQs</span>
        <span class="hover:text-blue-600 cursor-pointer font-medium text-darkGray">Pricing</span>
      </div>
    </div>
    <div class="flex items-center gap-6">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="cursor-pointer font-medium text-darkGray">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="cursor-pointer font-medium text-darkGray">Login</a>
      {% endif %}
      {% if user.is_authenticated and consultancy %}
      {% if is_profile_complete %}
      <a href="{% url 'dashboard' %}" class="btn__lg bg-blue-600 hover:bg-blue-700 rounded-full text-white">
        Dashboard
      </a>
      {% else %}
      <a href="{% url 'onboarding' user.id %}" class="btn__lg bg-blue-600 hover:bg-blue-700 rounded-full text-white">
        Complete Profile
      </a>
      {% endif %}
      {% else %}
      <a href="{% url 'register' %}" class="btn__lg bg-blue-600 hover:bg-blue-700 rounded-full text-white">Become a
        Partner</a>
      {% endif %}
    </div>
  </nav>
</header>