{%load static%}
<div class="container mx-auto py-16 my-16">
    <div class="relative bg-blue-100 rounded-xl px-8 py-16 flex flex-col items-center justify-between space-y-8">
        <img src="{% static 'assets/counter.png' %}" alt=""
            class="h-36 md:h-72 motion-safe:animate-bounce absolute -top-16 left-0 md:-left-16">
        <h1 class="text-3xl md:text-5xl font-bold">Trusted by Many Consultancies</h1>
        <p class="max-w-3xl mx-auto text-center">
            ConsultancyDocs is trusted by many education and migration consultancies around the world. We have helped
            agencies streamline their operations, enhance client management, and boost productivity in the education and
            migration industry.
        </p>
        <div class="">
            <button class="btn__lg bg-blue-700 hover:bg-blue-800 rounded-full text-white">Become a Member</button>
        </div>
    </div>
</div>