{% load static %}
<section class="bg-gray-50">
    <div class="container mx-auto py-12 sm:px-6 lg:px-8 lg:py-16">
        <h2 class="text-4xl font-bold tracking-tight text-bluer sm:text-5xl">
            Read trusted reviews from our customers
        </h2>
        <p class="max-w-3xl">See what our students and teachers have to say about their experience with ConsultancyDocs.
            We are
            proud to have helped so many consultancy.</p>

        <div class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8">
            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">R</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5 ">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Ram Shrestha</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        The automated document management feature has significantly reduced the time I spend on
                        paperwork, allowing me to focus more on advising my students. Highly recommended!
                    </p>
                </div>
            </div>

            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">S</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5 ">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Suraj Thapa</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        It keeps everyone informed about the application status, which has improved our communication
                        with students and made the process so much smoother.
                    </p>
                </div>
            </div>

            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">S</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5 ">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Sapana Gurung</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        What I love about ConsultancyDocs is how user-friendly it is. The platform is intuitive, which
                        means I can train new staff quickly. </p>
                </div>
            </div>

            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">A</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5 ">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Anisha Khatri</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        The support team is exceptional. They were there to help me with onboarding and have been
                        responsive to any questions I have. </p>
                </div>
            </div>

            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">M</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Manoj Rai</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        Before switching to this platform, managing student applications was a logistical nightmare.
                        Now, everything is organized and accessible </p>
                </div>
            </div>
            <div class="mb-8 sm:break-inside-avoid">
                <div class="rounded-lg bg-white p-8 shadow-sm hover:shadow-lg transition duration-300 sm:p-8">
                    <div class="flex items-center gap-4">
                        <p
                            class="bg-blue-500 text-white rounded-full text-center h-10 w-10 flex items-center justify-center">
                            <span class="text-xl font-bold">M</span>
                        </p>

                        <div>
                            <div class="flex justify-center gap-0.5">
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                                <img src="{% static 'assets/star.svg' %}" alt="" class="h-6" />
                            </div>
                            <p class="mt-0.5 text-lg font-medium text-gray-900">Lakpa Tamang</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-700">
                        Our application processing time has decreased dramatically. The streamlined workflow has allowed
                        us to handle more applications without compromising quality
                    </p>
                </div>
            </div>
        </div>
</section>